header.header
  nav.header__nav.archive-header
    span.header__nav__menu
    ul.header__nav__list
      li.header__nav__list-item
        a.header__nav__list-link(href='#') Digital Assets
      li.header__nav__list-item
        a.header__nav__list-link(href='#') Our Progress
      li.header__nav__list-item
        a.header__nav__list-link(href='#') About the Project
      li.header__nav__list-item
        a.header__nav__list-link(href='#') Our Team
      li.header__nav__list-item
        a.header__nav__list-link.header__nav__list-link--btn.btn.btn--with-paw(href='#') Help Now
