// Main
.main {
  &.archive-page {
    .digi-assets {
      padding-top: 200px;

      &__sort-box {
        margin: 70px auto 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* <select> styles */
      select {
        margin-right: 15px;
        /* Reset */
        appearance: none;
        border: 0;
        outline: 0;
        font: inherit;
        /* Personalize */
        width: 160px;
        font-size: 16px;
        height: 48px;
        padding: 0 35px 0 10px;
        background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, $green;
        color: $white;
        border-radius: 0.25em;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        /* <option> colors */
        option {
          color: inherit;
          background-color: $green;
        }

        /* Remove focus outline */
        &:focus {
          outline: none;
        }

        /* Remove IE arrow */
        &::-ms-expand {
          display: none;
        }
      }
    }
  }
}


// Desktop
@include mqMax(1280px) {}


// Mobile
@include mqMax($mq-max-mobile) {
  .main {
    &.archive-page {
      .digi-assets {
        padding-top: 200px;

        &__sort-box {
          margin: 70px auto 40px;
          width: 100%;
          flex-direction: column;
        }

        /* <select> styles */
        select {
          margin: 0 0 15px 0;
          /* Personalize */
          width: 200px;
          font-size: 16px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}