// About
.about {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../images/common/about-bg-element-1.png');

    &__img-elem {
        position: absolute;
        top: -214px;
        right: 0;
        display: inline-block;
        width: 398px;
    }

    &__featured {
        margin: 35px 0 0;
        padding: 0 0 50px;
        @include displayFlex;
        align-items: flex-start;
        justify-content: space-between;
        
        &-left,
        &-right {
            width: 514px;
        }

        &-left {
            img {
                border-radius: 10px;
                overflow: hidden;
            }
        }

        &-right {
            margin: 126px 0 0;
            font-size: 18px;
            line-height: 28px;
            color: $black2;

            p {
                margin: 0 0 35px;
                font-size: inherit;
                line-height: inherit;
                color: inherit;
            }
            
        }
    }

    &__list {
        margin: 50px 0 0;
        @include displayFlex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 326px;

        &:nth-child(n+4) {
            margin: 50px 0 0;
        }

        &-img {
            border-radius: 10px;
            overflow: hidden;
        }

        &-info {
            display: block;
        }

        &-heading {
            margin: 30px 0 0;
            font-size: 28px;
            font-weight: 700;
            line-height: 38px;
            color: $green2;
        }

        &-desc {
            margin: 15px 0 0;
            font-size: 18px;
            line-height: 28px;
            color: $black2;
        }
    }
}


@include mqMax(1280px) {
    .about {
        &__img-elem {
            top: get-vw-desktop(-214px);
            width: get-vw-desktop(398px);
        }

        &__featured {
            margin: get-vw-desktop(35px) 0 0;
            padding: 0 0 get-vw-desktop(50px);
            
            &-left,
            &-right {
                width: get-vw-desktop(514px);
            }
    
            &-left {
                img {
                    border-radius: get-vw-desktop(10px);
                }
            }
    
            &-right {
                margin: get-vw-desktop(126px) 0 0;
                font-size: get-vw-desktop(18px);
                line-height: get-vw-desktop(28px);
    
                p {
                    margin: 0 0 get-vw-desktop(35px);
                }
                
            }
        }
    
        &__list {
            margin: get-vw-desktop(50px) 0 0;
        }
    
        &__item {
            width: get-vw-desktop(326px);
    
            &:nth-child(n+4) {
                margin: get-vw-desktop(50px) 0 0;
            }
    
            &-img {
                border-radius: get-vw-desktop(10px);
            }
    
            &-heading {
                margin: get-vw-desktop(30px) 0 0;
                font-size: get-vw-desktop(28px);
                line-height: get-vw-desktop(38px);
            }
    
            &-desc {
                margin: get-vw-desktop(15px) 0 0;
                font-size: get-vw-desktop(18px);
                line-height: get-vw-desktop(28px);
            }
        }
    }
}


// Mobile
@include mqMax($mq-max-mobile) {
    .about {
        &__img-elem {
            display: none;
            width: get-vw-mobile(98px);
        }

        &__featured {
            margin: get-vw-mobile(35px) 0 0;
            padding: 0 0 get-vw-mobile(50px);
            flex-direction: column;
            
            &-left,
            &-right {
                width: 100%;
            }
    
            &-left {
                img {
                    border-radius: get-vw-mobile(10px);
                }
            }
    
            &-right {
                margin: get-vw-mobile(35px) 0 0;
                font-size: get-vw-mobile(18px);
                line-height: get-vw-mobile(28px);
    
                p {
                    margin: 0 0 get-vw-mobile(25px);
                }
                
            }
        }
    
        &__list {
            margin: 0;
        }
    
        &__item {
            width: 100%;
    
            &:nth-child(n+4) {
                margin: initial;
            }

            &:not(:first-of-type) {
                margin: get-vw-mobile(35px) 0 0;
            }
    
            &-img {
                border-radius: get-vw-mobile(10px);
            }
    
            &-heading {
                margin: get-vw-mobile(25px) 0 0;
                font-size: get-vw-mobile(28px);
                line-height: get-vw-mobile(38px);
            }
    
            &-desc {
                margin: get-vw-mobile(15px) 0 0;
                font-size: get-vw-mobile(18px);
                line-height: get-vw-mobile(28px);
            }
        }
    }
}